<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>이메일 인증하기</title>
    <link href="/favicon.ico" rel="icon">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>이메일 인증하기</h1>
<input id="emailInput" name="email" placeholder="인증할 이메일 입력" type="text">
<button id="sendCodeBtn">인증번호 보내기</button>
<script>
    // 이메일로 인증번호 보내기 버튼을 클릭하면!!
    $("#sendCodeBtn").click(function () {
       // $("#emailInput").val(); //사용자가 작성한 이메일값 가져오기
        let email = $("#emailInput").val().toLowerCase();
        // 만약에 이메일 입력안함
        if(!email){
            alert("이메일을 입력해주세요.");
            return;
        }
        $.ajax({
            url:'api/sendCode',
            method:'POST',
            data:JSON.stringify({email:email}),
            success:function (data) {
                alert(data);
            },
            error:function (error) {
                alert(error);
            }
        })
    })
</script>
</body>
</html>